button {
    padding: 0.75rem 1.25rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    background-color: #EF4035;
    font-family: 'Baloo 2';
    font-size: 24px;
    font-weight: 600;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F7F7F7;
    width: 100vw;
    height: 100vh;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.avatar {
    margin-bottom: 1rem;
    border-radius: 8px;
}

.name {
    font-size: 24px;
}

.email {
    color: #A2998B;
}

.login {
    margin: 4px;
    margin-top: 20rem;
    background-color: #FFFFFF;
    padding: 4rem;
    border-radius: 8px;
    box-shadow: 1px 2px 2px hsl(0deg 0% 50% / 0.333)
}

.login>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 800px) {
    .login {
        padding: 1rem;
        margin: 1rem;
        margin-top: 8rem;
    }
}