@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  color: black;
}

.Table {
  display: grid;
  padding: 1.5vw;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  margin: auto;
  column-gap: 1.5vw;
  row-gap: 2vh;
  width: 90%;
}

.item {
  background-color: white;
  box-shadow: 2px 1vh 1vh 1px rgb(0 0 0 / 20%);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image {
  margin: 0;
  height: 200px; /* Fixed height for consistency */
  background-image: url("../Media/image.png");
  background-size: cover;
  background-position: center;

  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    visibility:hidden;
  }
  
}

.info {
  padding: 1vw;
}

#description {
  opacity: 0.5;
}

/* Media queries for responsiveness */
@media (max-width: 1200px) {
  .Table {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .Table {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .Table {
    grid-template-columns: 1fr;
  }

  .image {
    height: 150px; /* Adjust height for smaller screens */
  }
}
